.root {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 32px;
    color: black;
    font-weight: 700;
  }

  .returnButton {
    display: inline-block;
    margin-top: 15px;
    font-size: 20px;
    padding: 5px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 7px;
    cursor: pointer;
  }

  .returnButton:hover {
    opacity: 0.6;
    transition: opacity 400ms ease-in-out;
  }

   a {
    text-decoration: none;
  }
}